apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: alphacar
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      imagePullSecrets:
      - name: harbor-registry-secret
      containers:
      - name: nginx
        image: 192.168.0.169/alphacar-project/alphacar-nginx:1.0.0
        ports:
        - containerPort: 80
          name: http
        - containerPort: 443
          name: https
        - containerPort: 8000
          name: https-8000
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
        - name: ssl-cert
          mountPath: /etc/nginx/ssl
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
      - name: ssl-cert
        secret:
          secretName: ssl-cert
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: alphacar
spec:
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  - port: 443
    targetPort: 443
    protocol: TCP
    name: https
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: https-8000
  type: NodePort

