apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: alphacar
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      containers:
      - name: traefik
        image: traefik:3.6
        args:
          - "--api.insecure=true"
          - "--log.level=DEBUG"
          - "--accesslog=true"
          - "--entrypoints.web.address=:9090"
          - "--providers.kubernetes=true"
          - "--providers.kubernetes.namespaces=alphacar"
        ports:
        - containerPort: 9090
          name: web
        - containerPort: 8080
          name: admin
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: alphacar
spec:
  selector:
    app: traefik
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: web
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: admin
  type: ClusterIP

